body{
    background-color: black;
}

form{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
}
form input{
    width: 15rem;
    height: 2rem;
    margin-bottom: 20px;
    padding-left: 0.3rem;
}
.links{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
h4,h2,.dash{
    color: black;
    margin-top: 1rem;
}
a{
    text-decoration: none;
}
h4:hover{
    color: #ff0e38;
}
button{
    border: none;
    margin-top: 10px;
    width: 9rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #ff0e38;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}
